<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../assets/natural-gallery-js/themes/natural.css">
  <link rel="stylesheet" href="../assets/natural-gallery-js/natural-gallery.full.css">
  <script src="../assets/natural-gallery-js/natural-gallery.full.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
